* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  position: relative;
  background: url(/images/바탕화면.jpg) no-repeat;
  font-family: "Simple";
  background-size: cover;
}

.startBtn {
  position: fixed;
  width: 400px;
  height: 100px;
  left: 50%;
  bottom: 80px;
  border-radius: 15px;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  line-height: 100px;
  z-index: 9;
}
.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
  display: none;
}

.gameSettings {
  position: fixed;
  left: 20px;
  top: 20px;
  /* 가만히 있을때 */
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /* 클릭할때 */

  /* width: 150px;
  height: 50px;
  border-radius: 20px; */
  background: linear-gradient(90deg, #004aad, #cb6ce6);
}
.gameSettings > i {
  position: absolute;
  /* 가만히 있을때 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 눌렀을때 */
  /* top: 20%;
  left: 5%; */

  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}

.timeSetting i {
  font-size: 30px;
  display: none;
  color: #fff;
  /* 클릭했을때 */
  /* position: absolute;
  top: 20%;
  left: 40%; */
}

.gameInfo i {
  position: absolute;
  font-size: 30px;
  display: none;
  color: #fff;
  /* 클릭했을때 */
  /* top: 18%;
  left: 75%; */
}

.gameScreen {
  position: relative;
  width: 900px;
  height: 700px;
  top: 20px;
  left: 20%;
  /* background: linear-gradient(90deg, #5de0e6, #004aad); */
  background: linear-gradient(to right top, #004aad, #cb6ce6);
  display: none;
  z-index: 99;
}

.chosungContainer {
  position: relative;
  top: 10%;
  left: 27%;
  width: 400px;
  height: 300px;
  border-radius: 15px;
  background: #fff;
}
.chosungScreen {
  position: relative;
  top: 50px;
  left: 25%;
  width: 200px;
  height: 100px;
  line-height: 70px;
  border: 3px solid #444548;
}
.chosungLoad {
  position: absolute;
  left: 70px;
  bottom: 50px;
  width: 250px;
  height: 60px;
  line-height: 70px;
  background: #ccc;
  border-radius: 10px;
}
