.nicknameModalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.nicknameModalwindow {
  display: flex;
  flex-direction: column;
  width: 520px;
  min-height: 250px;
  background-color: #c0c0c0;
  border-color: #ffffff #808080 #808080 #ffffff;
  border: 3px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.nicknameModalwindow > :first-child {
  flex-shrink: 0;
}

.nicknameModalContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  padding: 20px;
}
.nicknameInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}
.nicknameModalContent input {
  width: 200px;
  height: 35px;
  font-size: 14px;
  padding: 0 6px;
  border: 2px inset #808080;
  flex: 1;
  font-family: "Galmuri9", sans-serif;
  outline: none;
}

.dupCheck {
  width: 75px;
  height: 35px;
  font-family: "Seogung", sans-serif;
  font-size: 14px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  background: #c0c0c0;
  cursor: pointer;
}
.dupCheck:hover {
  filter: brightness(1.1);
}
.dupCheck:active {
  border: inset #808080;
  padding-top: 2px;
  padding-left: 2px;
}

.dupCheck.checked {
  background: #555555;
  color: #eeeeee;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding-top: 2px;
  padding-left: 2px;
  pointer-events: none;
  cursor: default;
}

.dupCheck.checked:hover {
  filter: none;
}
.nicknameRule {
  font-size: 14px;
  font-family: "Seogung", sans-serif;
  color: #404040;
}

.dupMessage {
  font-size: 14px;
  height: 18px;
  margin-left: 30px;
}
.dup {
  color: #b22222;
}
.available {
  color: #228b22;
}

.btns {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.btns button {
  width: 60px;
  height: 28px;
  font-family: "Seogung", sans-serif;
  font-size: 12px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  background: #c0c0c0;
  cursor: pointer;
}

.btns button:active {
  border: 2px inset #808080;
  padding-top: 2px;
  padding-left: 2px;
}

.btns button:disabled {
  pointer-events: none;
}
