* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}
body {
  position: relative;
  background: url(../images/바탕화면.jpg) no-repeat;
  font-size: 25px;
  font-family: "Simple";
  background-size: cover;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
  /* display: none; */
  z-index: 9;
}

.gameSettings {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  transition: all 0.3s ease;
}

.gameSettings i {
  color: #fff;
  font-size: 30px;
  transition: all 0.3s ease;
}

.timeSetting > i,
.gameInfo > i {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.gameSettings > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameSettings.expanded {
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.gameSettings.expanded > i {
  top: 25px;
  left: 25px;
}

.gameSettings.expanded .timeSetting > i {
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  top: 20%;
  left: 40%;
}

.timeSetting .timeModal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  border-radius: 20px;
}

.timeSetting .timeModal.active {
  display: block;
}

.timeSetting .timeModal h2 {
  position: absolute;
  top: 40px;
  left: 200px;
}

.timeCloseBtn {
  position: absolute;
  top: 30px;
  right: 40px;
}

.timePanel {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 100px auto;
}

.timeScreen {
  width: 200px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
}

.timeSlide {
  display: flex;
  flex-wrap: nowrap; /* 한 줄로 고정 */
  transition: transform 0.5s ease;
}

.timeSlide li {
  flex: 0 0 200px; /* li 폭 고정 */
  width: 200px;
  height: 100px;
  line-height: 100px; /* 세로 중앙 */
  font-size: 45px;
  text-align: center;
  background: #fff;
}

.arrows .prev,
.arrows .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}

.arrows .prev {
  left: -50px;
}

.arrows .next {
  right: -50px;
}

.gameSettings.expanded .gameInfo > i {
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  top: 20%;
  left: 75%;
}

.gameInfo .gameInfoModal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  border-radius: 20px;
}

.gameInfo .gameInfoModal.active {
  display: block;
}

.gameInfo .gameInfoModal .gameInfoCloseBtn {
  position: absolute;
  top: 30px;
  right: 40px;
}
.gameInfo .gameInfoModal > h2 {
  position: absolute;
  margin: 70px;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 40px;
}

.enterRoomBtn {
  position: fixed;
  width: 400px;
  height: 100px;
  left: 50%;
  bottom: 80px;
  border-radius: 15px;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  line-height: 100px;
  z-index: 9;
}

.gameRoom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: whitesmoke; */
  background: #fff;
  border-radius: 5px;

  /* background: linear-gradient(90deg, #004aad, #cb6ce6); */
  /* background: linear-gradient(to right top, #3a70d8, #d39cf3); */

  /* display: none; */
  z-index: 100;
}

/* 플레이어1 시작 */
.player1Section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 700px;
  /* background: cadetblue; */
}
.player1Section .p1Name {
  margin-top: 40px;
}
.player1Section .p1Photo {
  margin-top: 40px;
  margin-left: 100px;
  width: 200px;
  height: 150px;
}

.player1Section .p1Photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 플레이어 1 끝 */

.gameCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 80px;
  padding-left: 15px;
}

.chosungContainer {
  width: 300px;
  height: 200px;
  /* background: #555; */
  background: #444;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.chosungScreen {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 70px;
  width: 150px;
  height: 70px;
  line-height: 80px;
  border-radius: 5px;
}
.chosungScreen .firstCho {
  width: 70px;
  height: 70px;
  background: #ddd;
  border-radius: 5px;
  font-size: 40px;
}

.chosungScreen .secondCho {
  width: 70px;
  height: 70px;
  background: #ddd;
  border-radius: 5px;
  font-size: 40px;
}
.chosungContainer .inputGroup {
  display: flex;
  /* justify-content: space-around; */
}
input[type="text"] {
  margin-top: 30px;
  margin-left: 50px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  border: 0;
  background: #fff;
}
.enter {
  margin-top: 30px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  background: #fff;
}

.startBtn {
  width: 220px;
  height: 120px;

  margin-left: 30px;
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 130px;
  border-radius: 5px;
  background: linear-gradient(90deg, #4c83ff, #9f6bff);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

/* 플레이어 2 */
.player2Section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 700px;
  /* background: #ccc; */
}
.player2Section .p2Name {
  margin-top: 40px;
}

.player2Section .p2Photo {
  margin-top: 40px;
  margin-left: 100px;
  width: 200px;
  height: 150px;
  background: #000;
}
.player2Section .p2Photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
