html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image {
  position: fixed;
  inset: 0;
  max-width: 1920px;
  background: url("/images/closedDoor_pic(1).jpg") center / cover no-repeat;
}

.door-knock {
  width: 400px;
  height: 100px;
  position: fixed;
  left: 50%;
  bottom: 80px;
  border-radius: 15px;
  transform: translateX(-50%);
  background: #1f3a5f;
  color: #ffffff;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  border: none;

  line-height: 100px;
  z-index: 9;
  border: 1px;
}

/* 닉네임 입력창 */
input[type="text"] {
  margin-top: 30px;
  margin-left: 50px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  border: 0;
  background: #fff;
}
.submitBtn {
  margin-top: 30px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  font-size: 20px;
  /* line-height: 30px; */
  background: #fff;
}
