.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background: #000080;
  color: #fff;
  box-sizing: border-box;
  z-index: 10;
}
.titleName {
  text-rendering: geometricPrecision;
  letter-spacing: -0.5px;
  font-family: "바탕", "Batang", "AppleMyungjo", serif;
  -webkit-font-smoothing: none;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 4px;
  color: #fff;
  font-weight: bold;
}
.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 18px;
  background: #c0c0c0;
  color: #000;
  font-family: "MS Sans Serif", sans-serif;
  font-weight: bold;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  cursor: pointer;

  font-family: "Galmuri9", sans-serif;
  font-weight: bold;
  font-size: 12px;

  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  cursor: pointer;
  padding-bottom: 2px;
}

.closeBtn:active {
  border-color: #808080 #ffffff #ffffff #808080;
  padding-top: 1px;
  padding-left: 1px;
  padding-bottom: 0px;
}
