.playerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:35%;
  height: 100%;
  /* background: #ccc; */
  background:#fff;
}

.nicknameContainer{
  display: flex;
  flex-shrink: 0;
  justify-content:center;
  align-items: center;
  width: 50%;
  height: 50px;
  font-size: 20px;
  background:#ddd;
  margin-top: 50px;
  gap: 20px;
  /* padding:0 50px; */
}

.nickname {

}

.editBtn{
  background: #C0C0C0;
  /* font-family: 'NeoDunggeunmo', cursive; */
  font-size: 14px;
  padding: 4px 8px;
 
  cursor: pointer;
  border-radius: 0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  outline: none;
}

.editBtn:active {
  border-top: 2px solid #404040;
  border-left: 2px solid #404040;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 5px 7px 3px 9px; 
}

.wordListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 200px;

  /* 임시 */
  overflow-y: auto; 
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.wordItem{
  display: flex;
  width: 100px;
  height: 70px;
  background: #C0C0C0;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 20px;
  margin-top:20px;
  margin-bottom: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  color:#FFD700;
  /* color: #FDCB02; */
  text-shadow: 2px 2px #000000;
  font-family: 'NeoDunggeunmo', cursive; 
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
  box-shadow: none; 
}

.wordListContainer::-webkit-scrollbar {
  display: none;
}